*{
    margin:0;
    padding:0;   
}
body{
    background: #0D0D0D;
    width: 1440px;
height: 748px;
}
.header{
    min-height: 100vh;
    width: 100;
    background-image: linear-gradient(180deg, rgba(1, 1, 1, 0.85) 0.52%, rgba(1, 1, 1, 0) 43.23%, #010101 94.15%),url("iOS.png");
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 2% 6%;
}
nav img{
    margin-top: 0.73%;
    margin-bottom: 1%;
    margin-left: 8.4% ;
    margin-right: 8.49% ;
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
     position: relative;
     padding: 8px 12px;
}
.nav-links ul li::after{
    content: "";
    width: 0%;
    height: 2%;
    margin: auto;
    display: block;
    background: #FCFCFC;
    transition: 0.5s;

}

.nav-links ul li a{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #FCFCFC;
    text-decoration: none;
}
.nav-links ul li:hover::after{
    text-decoration: underline;
    width: 100%;

}
.text-box{
    position: absolute;
    width: 706px;
    height: 80px;
    left: 122px;
    top: 596px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 33px;
    line-height: 40px;
    
    color: #FFE031;
}
.about{
    display: flex;
     display: grid;
     grid-template-columns: repeat(2, 2fr);
     align-items: center;
     grid-gap: 2rem;
     position: relative;display: grid;
     gap: 7rem;
     grid-template-columns: 1fr 1fr;
     padding-bottom: 5rem;
     padding-top: 7rem;
     margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
    padding-left: max(20px,6rem);
    padding-right: max(20px,6rem);
    width: 100%;
     
     
   

}
.about-img{
    width: 587px;
    height: 474px;
}
.about-text h1{
    width: 220px;
height: 40px;
top: 230px;
margin-right: 0%;
font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;

/* P2: Bold */

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 33px;
line-height: 40px;

color: #FFFFFF;

}
.about-text p{
    width: 486px;
height: 288px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 19px;
line-height: 170%;
color: #BBBBBB;
margin-right: 800px;
margin: 80;
display:flex;
top: 260px;
left: 800px;
font-size: 1.125rem;
font-weight: 400;
line-height: 170%;
margin-bottom: 2rem;


}
.about-text a{
 text-decoration: none;
 
background: #FFE031;
border-radius: 10px;
position: absolute;
width: 213px;
height: 50px;
left: 836px;
background: #ffde17;
border-radius: 0.625rem;
color: #000;
font-size: 1rem;
font-weight: 500;
height: 3.125rem;
width: 13rem;


}
.about-text a p{
    width: 90px;
height: 20px;

font-family: 'Mulish';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
/* identical to box height */


color: #404040;
align-items: center;
    display: flex;
    justify-content: center;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 170%;
    margin-bottom: 2rem


}
.project-module .container{
        box-sizing: border-box;
        margin: 0;
        outline: none;
        padding: 0;
        margin-left: auto;
        margin-right: auto;
        max-width: 1440px;
        padding-left: max(20px,6rem);
        padding-right: max(20px,6rem);
        width: 100%;
   
}
.projects-module h1{
    
    color: #ffde17;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1rem
}
.section{
    display: block;
}
.container{
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
    padding-left: max(20px,6rem);
    padding-right: max(20px,6rem);
    width: 100%;

  
}
.container h2{
    font-family: Mulish,sans-serif;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #BBBBBB;
}

.container p{
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 170%;
    margin-bottom: 2rem;
    color: #BBBBBB;
    
width: 1200px;
height: 160px;
   
}
.container img{
    width: 1202px;
height: 465px;
left: 0px;
top: 0px;
}
.project-model-slide-show h3{
    color: #ebe0e0;
    display: flex;
    padding-top: 0px;
    margin-top: 1%;
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 1px;
    margin-bottom: 1px;

    
}
.project-model-slide-show{
    background: #766700;
   width: 2000px;
   height: 300px;
   max-width: 239%;
   display: flex;
   padding-top: 15px;
   background: linear-gradient(90deg, #FFF2A2 0%, rgba(255, 242, 162, 0) 100%);
   
}
.slide-images{
     margin: 8px;




    
}
.slide-images2{
     margin: 8px;
     
}
.slide-images3{
    margin: 8px;
}
.slide-images4{
    margin: 8px;
}
.slide-images5{
    margin:8px;
}
.project-model-garden{
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 5rem;
}
.garden-of-eden h1{
    font-family: Mulish,sans-serif;
    font-size: 2rem;
    font-weight: 700;
font-style: normal;
font-weight: 700;
font-size: 33px;
line-height: 41px;

color: #FFFFFF;
margin-bottom: 1rem;
}
.garden-of-eden p{
    font-family: Mulish,sans-serif;
font-style: normal;
font-weight: 400;
width: 1201px;
height: 160px;

line-height: 170%;
/* or 32px */
font-size: 1.125rem;
    font-weight: 400;
    line-height: 170%;

color: #BBBBBB;
margin-bottom: 1rem;
}
.garden-image{
    width: 1330px;
height: 462px;
}
.project-model-slide-eden{
    background: #766700;
   width: 2000px;
   height: 300px;
   max-width: 239%;
   display: flex;
   padding-top: 15px;
   background: linear-gradient(90deg, #FFF2A2 0%, rgba(255, 242, 162, 0) 100%);
   
}
.project-model-slide-eden h2{



color: #FFFFFF;
margin-top: 0px;
font-family: 'Mulish';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
}
.fa{
    color: #1a1818;
    background-color: #BBBBBB;
}
.contact{
    display: flex;
    background-image: url("Frame\ 20.png") ;


width: 1440px;
height: 767px;
left: 0px;
top: 0px;
    
}
.contact-container h5{
    width: 103px;
height: 20px;
left: 100px;
top: 4050px;


font-family: 'Mulish';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
/* identical to box height */


color: #FFE031;
margin-top: 5rem;
margin-left: 70px;

}
.contact p{
    
position: absolute;
width: 488px;
height: 174px;
left: 100px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;
color: #FFFFFF;
}
.contact-us{
    background-color: #404040;
  
}






